on:
  workflow_dispatch:   

permissions:
  contents: write  

jobs:
  build:
    strategy: 
      matrix:
        board: [ambassador, banon, brask, brya, clapper, coral, corsola, cyan, dedede, edgar, elm, enguarde, fizz, glimmer, grunt, hana, hatch, jacuzzi, kalista, kefka, kukui, lulu, nami, nissa, octopus, orco, puff, pyro, reef, reks, relm, sand, sentry, snappy, stout, strongbad, tidus, trogdor, ultima, volteer, zork]

    runs-on: ubuntu-latest
    steps:
      - name: Download repo 
        uses: actions/checkout@v4
      
      - name: Run build
        run: |
          set -x
          sudo apt update
          sudo apt install pv
          wget https://dl.cros.download/files/${{ matrix.board }}/${{ matrix.board }}.zip || exit 1
          unzip ${{ matrix.board }}.zip || exit 1
          sudo QUIET=1 bash wax.sh -i ${{ matrix.board }}.bin -p legacy
          zip ${{ matrix.board }}-cr3nroll.zip ${{ matrix.board }}.bin

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: Prebuilds   
          files: ${{ matrix.board }}-cr3nroll.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
